* {
    box-sizing: border-box;
  }

body {
  text-align: center;
  background-image: linear-gradient(to right, #e66465, #9198e5);
}


h1 {
  font-size: 3rem;
  text-shadow: #000 0px 0px 2px;
  color: #fff;
}

div {
  padding: 2rem;
  width: 400px;
  background-color: whitesmoke;
  border-radius: 20px;
  color: darkslategray;
  margin: 4rem auto;
  font-size: 1.2rem;

}

button {
  height: 100px;
  width: 100px;
  background-color: red;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}

button:hover,
button:focus {
  outline: 4px solid beige;
}

button:active {
  transform: scale(.98);
}